//TODO: una opción que capta todas las urls.
{
  "rewrites":  [
    {"source": "/(.*)", "destination": "/"}
  ]
}

//TODO: La mejor opción porque excluye los rutas que contengan "." como pueden ser los archivos
{
  "routes": [{ "src": "/[^.]+", "dest": "/", "status": 200 }]
}

// TODO: Find vs some: some devuelve true/false, find: el objeto. En performance, find es un poco más rápido
