@import './src/styles/settings';

.added {
  background-color: red;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: shakeX;
}

#btnCard {
  position: relative;
  margin-right: 24px;

  &.added {
    background-color: red;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: shakeX;
  }

  .counter {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: $peru;
    font-size: 12px;
    font-weight: 500;
    color: $white;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;

    sup {
      vertical-align: sub;
      font-size: 11px;
    }

    &.more {
      font-size: 11px;

      sup {
        font-size: 10px;
      }
    }
  }
}

@keyframes shakeX {
  0%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  10%,
  50%,
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  30%,
  70% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}
