@import './src/styles/settings';

#btnCard {
  position: relative;
  margin-right: 24px;

  .counter {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: $peru;
    font-size: 12px;
    font-weight: 500;
    color: $white;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;

    sup {
      vertical-align: sub;
      font-size: 11px;
    }

    &.more {
      font-size: 11px;

      sup {
        font-size: 10px;
      }
    }
  }
}
