@import './src/styles/settings';

.card {
  display: block;
  background-color: $white;
  width: 300px;
  color: $c-1;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid $white;
  transition: $t-1;

  &:hover {
    border-color: $peru;

    picture {
      box-shadow: 0px 5px 15px rgba($black, 0.15);
      transform: translate3d(0, -2%, 0);
    }

    .summary {
      border-top: 1px solid $white;
    }
  }

  picture {
    // background-color: #f2f2f2;
    // background-color: $white;
    display: block;
    // width: 300px;
    width: 100%;
    height: 300px;
    padding: 2px;
    transition: $t-1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .summary {
    // margin-block: 16px;
    padding: 16px;

    .name {
      @extend %font-robotoC;
      font-size: 18px;
      margin-bottom: 8px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .price {
      @extend %font-robotoC;
      color: $peru;

      del {
        font-size: 14px;
        color: rgba($c-1, 0.3);
        margin-left: 8px;
      }
    }
  }
}
