#cart {
  .cart-container {
    display: flex;
    padding-block: 0;

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  .order-details {
    background-color: $white;
    width: 60%;
    padding: 32px;
    flex: 1;

    @media (max-width: 991px) {
      width: 100%;
    }

    h2 {
      margin-bottom: 24px;

      span {
        color: $c-4;
      }
    }

    .empty-cart {
      text-align: center;

      p {
        font-size: 18px;
        margin-bottom: 24px;
      }

      .btn {
        width: auto;
      }
    }

    .buttons {
      text-align: end;
      margin-top: 40px;
    }
  }

  .cart-summary {
    width: 40%;
    padding-left: 30px;

    @media (max-width: 991px) {
      width: 100%;
      padding-left: 0;
    }

    .summary-content {
      background-color: $white;
      padding: 32px;
      position: sticky;
      top: 60px;
    }

    h2 {
      margin-bottom: 24px;
    }

    .btn {
      @media (max-width: 991px) {
        width: auto;
      }
    }
  }
}
