#home {
  #announcements {
    background-color: $white;
    text-align: center;
    padding: 10px;
  }

  #banner {
    background-image: url('../../images/banner/1.png');
    max-height: 550px;
    padding-block: 24px;

    @media (max-width: 600px) {
      max-height: initial;
    }

    .container {
      display: flex;

      @media (max-width: 600px) {
        flex-direction: column;
      }

      .data,
      picture {
        display: block;
        flex-basis: 50%;

        @media (max-width: 600px) {
          flex-basis: 100%;
        }
      }

      .data {
        display: flex;
        align-items: center;
        color: $white;

        @media (max-width: 600px) {
          text-align: center;
          justify-content: center;
        }

        h1 {
          font-size: 50px;

          @media (max-width: 767px) {
            font-size: 40px;
          }
        }

        .description {
          font-size: 18px;
          margin: 8px 0 24px;
        }
      }
    }
  }

  #choose {
    padding-block: 48px;

    .container {
      display: flex;

      @media (max-width: 600px) {
        flex-direction: column;
      }
    }

    .item {
      background-repeat: no-repeat;
      background-position: right center;
      background-size: cover;
      background-attachment: scroll;
      display: flex;
      align-items: center;
      width: 50%;
      min-height: 300px;
      padding-block: 3rem;

      &:first-child {
        background-image: url('../../images/rick-bg.png');
        background-color: $l-green;
      }

      &:last-child {
        background-image: url('../../images/starlight-bg.png');
        background-color: $l-blue;
      }

      @media (max-width: 600px) {
        width: 100%;
      }

      .data {
        max-width: 75%;
        flex-basis: 75%;
        padding: 32px;

        h2 {
          margin-bottom: 16px;
        }
      }
    }
  }

  #range-collections {
    background-color: $l-yellow;
    width: 100%;
    height: auto;
    padding: 8px 0;

    .slick-track {
      display: flex;
      align-items: center;
    }

    .slick-slide {
      margin-inline: 24px;
    }

    picture {
      width: 200px;
      display: block;

      img {
        margin-inline: auto;
        height: 50px;

        @media (max-width: 600px) {
          height: 35px;
        }
      }
    }
  }

  .all-products {
    text-align: center;
    padding-bottom: 50px;
  }
}
