#not-found {
  display: flex;
  align-items: center;

  @media (max-width: 600px) {
    min-height: calc(100vh - 110px - 249px);
  }

  h1 {
    text-align: center;
  }

  img {
    max-width: 200px;
    margin-block: 24px;
    margin-inline: auto;
  }

  .buttons {
    display: flex;
    justify-content: center;

    @media (max-width: 600px) {
      align-items: center;
      flex-direction: column;
    }

    .btn {
      width: auto;
      padding-inline: 24px;

      &--back {
        color: $c-1;
      }
    }
  }
}
