#products {
  padding-block: 40px;

  .nav-category {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    @media (max-width: 600px) {
      flex-wrap: wrap;

      li {
        margin-bottom: 8px;
      }
    }

    .btn {
      width: auto;
      padding-inline: 24px;
      margin-inline: 8px;
    }
  }

  .cards-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px 24px;
    margin-top: 24px;
  }
}
