@import './src/styles/settings';

#product-detail {
  .options {
    background-color: $peru;

    .container {
      padding: 0;
    }
  }

  .container {
    padding-block: 40px;
  }

  .btn--back {
    max-width: 150px;
    border: 0;
  }
}
