body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  color: $c-1;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  height: calc(100vh - 60px - 46px);
}

.container {
  max-width: 1344px;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  display: block;
  width: 300px;
  color: $c-1;
  font-weight: 500;
  text-decoration: none;

  picture {
    background-color: #f2f2f2;
    display: block;
    width: 300px;
    height: 300px;
  }

  .summary {
    margin-block: 16px;

    .name {
      @extend %font-robotoC;
      font-size: 18px;
      margin-bottom: 8px;
    }

    .price {
      @extend %font-robotoC;
      color: $peru;

      del {
        font-size: 14px;
        color: rgba($c-1, 0.3);
        margin-left: 8px;
      }
    }
  }
}
