@import './src/styles/settings';

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}

.col {
  width: 50%;
  padding-inline: 48px;
}

.imageContent {
  @extend .col;
  background-color: $white;

  picture {
    img {
      // max-width: 400px;
      width: 100%;
      margin-inline: auto;
    }
  }
}

.dataContent {
  @extend .col;
  display: flex;
  flex-direction: column;

  h1 {
    margin-block: 16px;
  }

  .description {
    margin-block: 32px;
    font-weight: 500;
    line-height: 24px;
  }

  .price {
    @extend %font-robotoC;
    margin-top: auto;

    .current {
      font-size: 32px;
      color: $peru;
    }

    del {
      font-size: 24px;
      color: rgba($c-1, 0.3);
      margin-left: 8px;
    }
  }

  .wrap {
    max-width: 300px;
    margin-block: 24px;

    .btn {
      margin-top: 40px;
    }
  }
}
