#order {
  .information {
    .header {
      display: flex;
      align-items: center;
      margin-bottom: 32px;

      picture {
        margin-right: 16px;
      }
    }

    .content-data-box {
      border: 1px solid $c-8;
      border-radius: 5px;
      padding: 12px 16px;
      margin-bottom: 16px;

      h3 {
        color: #333;
        font-weight: 500;
        margin-bottom: 8px;
      }

      p {
        color: $c-6;

        strong {
          font-weight: bold;
        }
      }

      code {
        display: inline-block;
        background-color: #eee;
        color: $c-6;
        padding: 8px;
        border-radius: 5px;
      }

      table {
        width: 100%;
        font-size: 14px;

        td {
          padding: 8px 0;
        }
      }
    }

    .btn {
      background-color: $l-green;
      border-color: $l-green;
    }
  }

  .summary-sidebar {
    .order-summary {
      .total-pay {
        color: $peru;
      }
    }
  }
}
