// DEFAULTS
$white: #fff;
$black: #000;
$t-1: all 0.3s ease-out;
$t-2: all 0.2s ease-in-out;

// SITE
$c-1: #282c34;
$peru: peru;
$c-2: #666;
$c-3: #ccc;
$c-4: #bbb;
$c-5: #888;
$c-6: #727272;
$c-7: #fafafa;
$c-8: #d9d9d9;
$red: #be0629;

$l-red: #fe4a49;
$l-green: #3ddc97;
$l-yellow: #ffb129;
$l-blue: #00aeef;
