// DEFAULTS
$white: #fff;
$black-dark: #000;
$t-1: all 0.3s ease-out;

// SITE
$black: #242536;
$white-2: #eff4f8;
$green: #03cc99;
$green-2: #003e2e;
$green-light: #dafff6;
$green-light-2: #65ffda;
$blue: #2863ff;
$purple: #4f13bf;
$black-chart: #242536;
